<div class="grid-bg ba-grid anim">
  <div class="inner"></div>
</div>
<div class="row">
  <div class="col-auto">
    <h3>{{name}}</h2>
  </div>
</div>

<div class="SearchBox">
  <input type="text" class="SearchBox-input search-input" placeholder="search something cool">

  <button class="SearchBox-button" id="booksearch">
    <i class="SearchBox-icon  material-icons">search</i>
  </button>
  {{!-- <div class="SearchBox">
    <input type="text" class="SearchBox-input search-input" placeholder="Enter the book you want to search">


  </div> --}}
  <div class="row">
    <div class="getBook">
      <h2 class="haveReadTitle">Book Descripton</h2>
    </div>

    <div class="ListButton">
      <button type="button" id="btn-wantread" class="btn btn-primary">Add this Book to me Reading List</button>
    </div>

    <div class="ReadButton">
      <button type="button" id="btn-haveread" class="btn btn-primary">Books I've Read</button>
    </div>
  </div>

</div>

<div class=" row haveRead">
</div>
<div class=" row wantRead">
</div>


<script src="/js/profile.js"></script>