<div>partial of read books</div>
{{log user}}

{{#each user.books}}
  {{#if read}}
  <div class="card">
    <p>title:{{title}}</p>

  </div>
  {{/if}}
{{/each}}
<div>partial of unread books</div>  
<br>
{{#each user.books}}
  {{#unless read}}
  <div class="card">
    <p>title:{{title}}</p>

  </div>
  {{/unless}}
{{/each}}
