<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>


<div class="SearchBox">
		<input type="text" class="SearchBox-input" placeholder="Enter the book you want to search">
	
			<button class="SearchBox-button">
				<i class="SearchBox-icon  material-icons" id="booksearch" >search</i>
			</button>
		
	</div>

<div class="ListButton">
    <button type="button" id= "btn-wantread" class="btn btn-primary">Add this Book to me Reading List</button>
</div>

<div class="ReadButton">
    <button type="button" id ="btn-haveread" class="btn btn-primary">Books I've Read</button>
</div>


<script src="/js/profile.js"></script>
