<div class="grid-bg ba-grid anim">
    <div class="inner"></div>
</div>
<div class="row">
    <div class="col-auto">
        <h3>{{user.name}}</h2>
    </div>
</div>
<div class="jumbotron text-center">

    <div class="SearchBox">
        <input type="text" class="SearchBox-input search-input" placeholder="search something cool">

        <button class="SearchBox-button" id="booksearch">
            <i class="SearchBox-icon  material-icons">search</i>
        </button>

        <div class="row">
            <div class="getBook">
                {{> book-card}}
            </div>
        </div>
    </div>
</div>
<script src="/js/profile.js"></script>