header {
    padding-bottom: 120px;
}

h4 {
    margin-top: 30px;
    color: white;
}
h5 {
    
    color: white;
}

.navbl {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0px 0px 100px 40px rgba(255,255,255,0.2);
    transform: translateZ(-40px);
    z-index: 1;
}
.logo {
    padding-bottom: 20px;
    width: 150px;
}
.loginEl {
    
    padding-top: 20px;
    margin: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px #000000;
   
    height: 300px;
    transition: all .2s ease-in-out;

}
.loginEl:hover {
    transform: scale(1.1);
}

.signupEl {
    margin: 40px;
    
    height: 300px;
    padding-top: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px #000000;
    transition: all .2s ease-in-out;
    
    
    
}
.signupEl:hover {
    
    transform: scale(1.1);
    
}
html,body {
   
    font-family: Arial, Helvetica, sans-serif;
    font-family:'Aleo', serif;
}
nav {
    background-image: url(/public/images/ER.png);
}
.SearchBox {
    margin-top: 20px;
    width: 320px;
    
    margin-bottom: 20px;
}
.center-block {
    
    margin-left: auto;
    margin-right: auto;
}
body {
    /* padding: 0; */
	margin: 0;
    /* background-image:url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80") ; */
    background: #000000;
    backdrop-filter: blur(8px);
    height: 100vw;
    padding-bottom: 20px;
    /* background: url("https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fGJhY2tncm91bmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60") no-repeat center center/cover; */
}
img {
    transition: all .2s ease-in-out;
    padding-top: 20px;
    width: 100px;
}
img:hover {
    transform: scale(1.1);
}

/* // Main container styles */

.haveAR {
    margin-top: 120px;
}
.container-profile {
    /* display: inline-block; */
    
   
    width: 100%;
    padding: 20px;
   
}
.breakout {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw -100%) / 2)
}

.backlight {
   
    top: 0;
    left: 0;
    right: 0;
    
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0px 0px 100px 40px rgba(255,255,255,0.2);
    transform: translateZ(-40px);
    z-index: 1;
}
.btn {
   
    color: white;
}
.btn:hover {
    opacity: 1;
    color: rgb(101, 150, 3);
}


.container {
   

  
  
} 

/* profile page  */


.picApi {
    padding: 20px;
    width: 300px;
    
}

.card-img-top {
    padding: 20px;
}
.card {
    background: transparent;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    /* border-radius: 15px; */
    background-color: rgba(62, 66, 66, 0.4);
    /* box-shadow: 0px 0px 100px 40px rgba(255,255,255,0.2); */
    transform: translateZ(-40px);
    z-index: 1;
    margin: 40px;
    /* transition: all .2s ease-in-out; */
    transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 5px 5px 10px #000000, 
    inset -5px -5px 10px rgb(101, 101, 102);
    
    
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 100px 40px rgba(255,255,255,0.2);
    /* border-radius: 15px; */
    
}
.card-text {
    color: white;
}


.app{
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
    height:100vh;
    width:100%;
    }
    ul{
      display:block;
      width:100%;
      height:inherit;
    }
    ul{
        list-style-type:none;
    }
    li:nth-child(1)
    {
        position:absolute;
        border-radius: 50%;
      left:10%;
      height:30px;
      width:30px;
      background:rgba(255,255,255,.2);
    }
    li:nth-child(2)
    {
      position:absolute;
      border-radius: 50%;
      left:30%;
      height:45px;
      width:45px;
      background:rgba(255,255,255,.2);
    }
    li:nth-child(3)
    {
      position:absolute;
      border-radius: 50%;
      left:50%;
      height:70px;
      width:70px;
      background:rgba(255,255,255,.2);
    }
    li:nth-child(4)
    {
      position:absolute;
      border-radius: 50%;
      left:80%;
      height:20px;
      width:20px;
      background:rgba(255,255,255,.2);
    }
    li{
      animation:animate 15s linear 1s infinite;
    }
    
    @keyframes animate{
      from{
        transform: translateY(+1500%) rotate(180deg)
      }
      to{
        transform: translateY(-150%)
          rotate(360deg)
      }
    }
footer {
    height: 50px;
}




